*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 30px;
}

.result__video-container video {
  object-fit: cover;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.search-form__textfield {
  border-left: none;
  border-right: none;
  color: #fff;
  background-color: #1b1919;
  appearance: none;
  width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
  margin-left: 1.5px;
}

.search-form__pseudo-checkbox::after {
  width: 0;
  height: 0;
  content: '';
  display: block;
  background-color: #FFFFFF;
  opacity: 0;
}

.search-form__checkbox:checked {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__card-link_current, .content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;  
  line-clamp: 1;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: top right;
}

.button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.search-form__submit-button {
  align-self: center;
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  padding: 5.5px 0;
  flex-shrink: 0;
}

.search-form__submit-button:hover, .more-button:hover, .content__card-link:hover {
  text-decoration: underline;
  cursor: pointer
}

.search-form__submit-button:active, .more-button:active {
  background-color:  #545050;
}

.search-form__submit-button:focus, .more-button:focus, .content__card-link:focus {
  outline: none;
}

.search-form__submit-button:focus-visible, .more-button:focus-visible, .content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}